[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
"boto3" = "*"
jsonschema = ">=3.0.1"
jsonpath-rw = "*"
aws-encryption-sdk = {version = ">=4.0, <5", extras = ["mpl"]}

[dev-packages]
pylint = "*"
cfn-lint = "*"
pytest = "*"
"requests-aws4auth" = "*"
rope = "*"
aws-encryption-sdk-cli = "*"
requests = "*"

[requires]
python_version = "3.12"
